@import "tailwindcss";

@theme {
  --color-brand-beige: #F2E6D9;
  --color-brand-beige-light: #FFF6D6;
  --color-brand-cream: #FFFFF3;
  --color-brand-blue: #B8CEF2;

  --font-sans: 'Montserrat', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-caveat: 'Caveat', cursive;

  --radius: 0.5rem;
}

@layer base {
  body {
    @apply bg-brand-cream text-slate-900 font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}