@import "tailwindcss";

@theme {
  --color-brand-beige: #F2E6D9;
  --color-brand-beige-light: #FFF6D6;
  --color-brand-cream: #FFFFF3;
  --color-brand-blue: #B8CEF2;

  --radius: 0.5rem;
}

@layer base {
  body {
    @apply bg-brand-beige text-slate-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}