@import "tailwindcss";

@theme {
  --color-brand-beige: #F2E6D9;
  --color-brand-beige-light: #FFF6D6;
  --color-brand-cream: #FFFFF3;
  --color-brand-blue: #c16c4d;
  --color-brand-text: #332f2e;
  --color-brand-text-light: #5d5552;

  --font-sans: 'Montserrat', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-caveat: 'Caveat', cursive;
  --font-square-peg: var(--font-square-peg);
  --font-knewave: var(--font-knewave);
  --font-instrument: var(--font-instrument);
  --font-playfair: var(--font-playfair);

  --radius: 0.5rem;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-text font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}